html {
  background: url("../images/flowerBackground.jpg") no-repeat fixed;
  background-size: cover;
  margin: 0px auto;
}

body {
  background: rgba(255, 255, 255, 0.8);
  border-left: solid 4px darkgrey;
  border-right: solid 4px darkgrey;
  margin: 0px auto;
  padding: 20px 180px;
  width: 400px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  color: yellowgreen;
  text-shadow: 2px 2px grey;
  font-style: bold;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 1px rgba(189, 176, 2, 0.8);

}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}

div {
  text-align: center;
}

.backBtn {
  text-decoration: none;
  font-variant: small-caps;
  color: black;
  /* text-shadow: 1px 1px blue; */
  font-size:10px;
}

a {
    text-decoration: none;
    color:darkred;
}

a:hover {
  color: blue;
}

.center {
  text-align: center;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 80px;
}